// Footer styles go here
.pixel-footer{
    .content{ padding-top: 15px;}
    .pixel-locations{
        .email-address{
            padding-top: 15px;
            display: block;
        }
        .phone-number{
            padding-top: 15px;
            height: 90px;
        }
        @media(max-width: 736px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        .title{
            padding-top: 30px;
            @media(max-width: 736px){
                // display: none;
            }
        }
        .desk-top{
            @media(max-width: 736px){
                display: none;
            }
        }
    }
    .location-img{
        padding-top: 40px;
        height: 260px;
        z-index: 9;
        @media(max-width: 736px){
            height: auto;
        }
        img{
            @media(max-width: 991px) {
                max-width: 100%;
            }
            @media(max-width: 736px) {
                max-width: 200px;
            }
        }
    }
    .clock{
        display: block;
        padding-top: 15px;
    }
    .copy-right{
        p{
            font-size: 14px;
        }
    }
    .footer-space{
        padding-bottom: 50px;
        @media(max-width: 736px){
            max-width: 200px;
        }
    }
    .pixel-contact{
        display: flex;
        width: 100%;
        padding-top: 30px;
        @media(max-width: 736px){
            padding-top: 0;
            display: block;
        }
        .col-md-4{
            @media(max-width: 736px){
                padding-top: 30px;
            }
        }
    }
    .col-md-4{
        @media(max-width: 736px){
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
.goto-link {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1400px){
        max-width: 400px;
    }
    &.space{
        padding-top: 80px;
        @media(max-width: 1400px){
            padding-top: 40px;
        }
        @media(max-width: 736px){
            flex-flow: column;
            padding-top: 0;
        }
        a{
            padding-top: 35px;
            display: flex;
        }
    }
}

.footer-block {
    @media(max-width: 736px){
        padding: 0 15px;
    }
    .copy-right {
        z-index: 1;
        position: relative;
        p{
            font-size: 14px;
            @media(max-width: 736px){
                font-size: 12px;
            }
        }
        &.space {
            position: absolute;
            bottom: 80px;
            @media(max-width: 1400px){
                bottom: 40px;
            }
            @media(max-width: 736px){
                max-width: 180px;
            }
        }
    }
}

.ft-content-row {
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @media(max-width: 1400px){
        padding-top: 0;
    }
    .content-block {
        z-index: 9;
        // &.block-lg {
        //     top: 200px;
        // }
        .font-80{
            margin-left: -6px;
            @media(max-width: 736px){
                margin-left: -3px;
            }
        }
        &.block-sm {
            margin-left: auto;
            margin-top: 60px;
            padding: 0;
            @media(max-width: 1200px) and (orientation: landscape){
                top: 100px;
            }
            @media(max-width: 768px){
                position: relative;
                top: 200px;
            }
            @media(max-width: 768px){
                top: 60px;
            }
            @media(max-width: 736px){
                top: 0;
            }
        }
    }
}
