//Header styles go here
header.top-nav {
    position: absolute;
    width: 100%;
    padding: 80px 0 50px 0;
    @media(max-width: 1400px) {
        padding: 60px 0 50px 0;
    }
    @media(max-width: 736px) {
        padding: 30px;
    }
    .container{
        @media(max-width: 736px){
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.menu-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.brand {
    z-index: 1;
}

.burger-menu {
    z-index: 999;
    background-color: transparent;
    outline: none;
    border: none;
    width: 40px;
    height: 26px;
    padding: 0;
    &:active,
    &:focus,
    &:hover,
    &:focus-within,
    &:visited {
        outline: none;
    }
    &:hover {
        span {
            width: 40px;
            &:after {
                width: 40px;
            }
        }
    }
    &.active {
        span {
            background-color: transparent;
            &:before {
                @include rotate(45);
                width: 35px;
                top: 0;
            }
            &:after {
                @include rotate(-45);
                width: 35px;
                top: 0;
            }
        }
    }
    span {
        // @include transition (all, .2s,ease-in-out);
        -webkit-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        -moz-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        -o-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        /* easeInOutQuad */
        width: 26px;
        height: 2px;
        background-color: $white;
        display: block;
        position: relative;
        &:before,
        &:after {
            // @include transition (all, 0.3s, ease-in-out);
            position: absolute;
            height: 2px;
            content: "";
            background-color: $white;
            display: block;
            border-radius: 1px;
            -webkit-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            -moz-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            -o-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            /* easeInOutQuad */
        }
        &:before {
            top: -10px;
            width: 40px;
        }
        &:after {
            top: 10px;
            width: 16px;
        }
    }
}

// close menu styles here
.flex-menu {
    z-index: 1;
    width: 110px;
    justify-content: space-between;
    display: flex;
    @media(max-width: 736px){
        width: auto;
    }
}

.close-menu {
    z-index: 999;
    background-color: transparent;
    outline: none;
    border: none;
    width: 40px;
    height: 26px;
    padding: 0;
    @media(max-width: 736px){
        display: none;
    }
    &:active,
    &:focus,
    &:hover,
    &:focus-within,
    &:visited {
        outline: none;
    }
    // &:hover {
    //     span {
    //         width: 40px;
    //         &:after {
    //             width: 40px;
    //         }
    //     }
    // }
    &.active {
        span {
            background-color: transparent;
            &:before {
                @include rotate(45);
                width: 40px;
                top: 0;
            }
            &:after {
                @include rotate(-45);
                width: 40px;
                top: 0;
            }
        }
    }
    span {
        // @include transition (all, .2s,ease-in-out);
        -webkit-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        -moz-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        -o-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        /* easeInOutQuad */
        width: 40px;
        height: 1px;
        background-color: transparent;
        display: block;
        position: relative;
        &:before,
        &:after {
            // @include transition (all, 0.3s, ease-in-out);
            position: absolute;
            height: 1px;
            content: "";
            background-color: $white;
            display: block;
            border-radius: 1px;
            -webkit-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            -moz-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            -o-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            /* easeInOutQuad */
        }
        &:before {
            top: 0;
            width: 40px;
            @include rotate(-45);
        }
        &:after {
            top: 0;
            width: 40px;
            @include rotate(45);
        }
    }
}
