.banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    .Whole-block{
        padding-top: 0;
    }
    &.banner-2 {
        background-position: center;
    }
    &.banner-4 {
        background-position: 10% 100%;
    }
    .project-banner{
      overflow: hidden;
      height: 100%;
      img{
        height: 100%;
      }
    }
}

.hero-banner-block {
    .bg-holder-wrap {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        z-index: 1;
    }
}

.hero-banner-block {
    width: 520px;
    height: 520px;
    // background-color: $antique-brass;
    margin: auto;
    position: relative;
    top: 25%;
    padding: 40px;
    display: flex;
    align-items: flex-end;
    @media(max-width: 1400px) {
        width: 420px;
        height: 420px;
    }
    @media(max-width: 736px) {
        padding: 20px;
        width: 300px;
        height: 300px;
    }
    @media(max-width: 991px) and (orientation: landscape) {
        top: 7%;
    }
    .desc {
        padding-top: 15px;
        @media(max-width: 736px) {
            display: none;
        }
    }
    &:after {
        @media(max-width: 736px) {
            position: absolute;
            content: "";
            background-image: url(../../contents/mobile-drop-arow.svg);
            width: 200px;
            height: 300px;
            z-index: 999;
            top: 300px;
            right: -120px;
            background-repeat: no-repeat;
        }
        @media(max-width: 991px) and (orientation: landscape) {
            top: 0;
            right: -250px;
        }
    }
    &.hero-banner-block-1 {
        .bg-holder {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0px;
            left: 0px;
            z-index: 9;
            border-left: 520px solid rgba($antique-brass, 0.9);
            border-bottom: 520px solid rgba($antique-brass, 0.97);
            width: 0;
            @media(max-width: 1400px) {
                border-left: 420px solid rgba($antique-brass, 0.9);
                border-bottom: 420px solid rgba($antique-brass, 0.97);
            }
            @media(max-width: 736px) {
                border-left: 300px solid rgba($antique-brass, 0.9);
                border-bottom: 300px solid rgba($antique-brass, 0.97);
            }
        }
    }
    &.hero-banner-block-2 {
        .bg-holder {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0px;
            left: 0px;
            z-index: 9;
            border-left: 520px solid rgba($my-sin, 0.9);
            border-bottom: 520px solid rgba($my-sin, 0.97);
            width: 0;
            @media(max-width: 1400px) {
                border-left: 420px solid rgba($my-sin, 0.9);
                border-bottom: 420px solid rgba($my-sin, 0.97);
            }
            @media(max-width: 736px) {
                border-left: 300px solid rgba($my-sin, 0.9);
                border-bottom: 300px solid rgba($my-sin, 0.97);
            }
        }
    }
    &.hero-banner-block-3 {
        .bg-holder {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0px;
            left: 0px;
            border-bottom: 520px solid rgba($rouge, 0.97);
            border-left: 520px solid rgba($rouge, 0.9);
            width: 0;
            @media(max-width: 1400px) {
                border-bottom: 420px solid rgba($rouge, 0.97);
                border-left: 420px solid rgba($rouge, 0.9);
            }
            @media(max-width: 736px) {
                border-bottom: 300px solid rgba($rouge, 0.97);
                border-left: 300px solid rgba($rouge, 0.9);
            }
        }
    }
    .block-lg {
        z-index: 999;
        position: absolute;
        top: 40px;
    }
    .block-sm {
        z-index: 999;
        margin-left: auto;
        .count {
            padding-top: 50px;
            @media(max-width: 1400px) {
                padding-top: 40px;
            }
            @media(max-width: 736px) {
                padding-top: 24px;
            }
        }
    }
    &.antique-brass {
        background-color: $antique-brass;
    }
    &.my-sin {
        background-color: $my-sin;
        &.op-9 {
            opacity: 0.9;
        }
    }
    &.rouge {
        background-color: $rouge;
    }
}

.single-heading{
    z-index: 999;
    position: absolute;
    top: 35%;
    @media(max-width: 736px){
        top: 150px;
    }
}
