// Buttons styles go here
button:focus {outline:0;}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    @media(min-width: 2000px){
        font-size: 30px;
    }
    @media(max-width: 736px){
        font-size: 18px;
    }
}
.btn-warning, .btn-primary{
    padding: 25px 30px;
    color: $white;
}
.btn-warning{
    background-color: $west-side;
    border-color: $west-side;
}
.btn-primary{
    background-color: $antique-brass;
    border-color: $antique-brass;
    &:hover{
        background-color: $antique-brass;
        border-color: $antique-brass;
    }
}

.scroll-to-next {
    position: absolute;
    right: 0;

}
.transparent {
    background-color: transparent;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    padding:  0 10px
}
button.btn-scroll{
    position: relative;
    z-index: 1;
}
