.card{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 0;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    background-clip: border-box;
    border: 1px solid rgba($white,0.2);
    border-radius: 0;
    margin-bottom: 30px;
    height: 300px;
    @media(max-width: 1400px){
        padding: 15px;
    }
    .icon-wrap{
        text-align: center;
        font-size: 60px;
        @media(max-width: 1400px){
            font-size: 50px;
        }
    }
    &.pumpkin{
        background-color: $pumpkin;
    }
    &.tree-poppy{
        background-color: $tree-poppy;
    }
}


