// white cross border
.cross-border-1 {
    position: relative;
    z-index: 9;
    display: block;
    @media(max-width: 1200px) {
        margin-top: 120px;
    }
    @media(max-width: 991px) {
        margin-top: 0;
    }
    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 95vh;
        top: -80vh;
        right: -440px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);
        @media(min-width: 2000px){
            right: -660px;
        }
        @media(max-width: 1400px) {
            right: -200px;
        }
        @media(max-width: 1200px) {
            right: -400px;
        }
        @media(max-width: 1200px) and (orientation: landscape){
            right: -200px;
        }
        @media(max-width: 768px) {
            right: -125px;
        }
        @media(max-width: 736px) {
            right: 325px;
            bottom: -510px;
        }
        @media(max-width: 991px) and (orientation: landscape){
            right: 360px;
        }
    }

    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 600px;
        bottom: -500px;
        right: 266px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);

        @media(max-width: 1400px) {
            right: 380px;
        }
        @media(max-width: 991px) {
            right: 512px;
        }
        @media(max-width: 768px) {
            // display: none;
        }
        @media(max-width: 736px) {
            right: 835px;
            bottom: -540px;
            display: block;
        }
        @media(max-width: 736px)and(orientation : landscape) {
            right: 760px;
            bottom: -510px;
        }
    }
}

.cross-border-2 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 600px;
        bottom: 0;
        right: 390px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.4);
        @media(min-width: 2000px){
            bottom: 72px;
            right: 380px;
        }
        @media(max-width: 1400px) {
            right: 464px;
        }

        @media(max-width: 1200px) {
            right: 284px;
        }
        @media(max-width: 991px) {
            right: 580px;
        }
        @media(max-width: 991px) {
            right: 530px;
            width: 400px;
        }
        @media(max-width: 768px) {
            right: 530px;
            width: 286px;
        }
        @media(max-width: 736px) {
            right: 193px;
        }
        @media(max-width: 736px)and(orientation : landscape) {
            right: 345px;
        }

    }

    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 600px;
        bottom: -929px;
        left: -230px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);
        @media(min-width: 2000px){
            bottom: -1660px;
            height: 100vh;
            left: -550px;
        }
        @media(max-width: 1400px) {
            right: 380px;
        }
        @media(max-width: 768px) {
            display: none;
        }
    }
}

.cross-border-3 {
    position: relative;
    z-index: 9;
    display: block;

    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: 0px;
        left: -370px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);
        @media(min-width: 2000px){
            left: -775px;
        }
        @media(max-width: 1400px) {
                top: 10px;
                left: -285px;
        }
        @media(max-width: 991px) {
            top: 0px;
            left: -370px;
        }
        @media(max-width: 768px) {
            display: none;
        }
    }
}

.cross-border-4 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 300vh;
        top: -260vh;
        margin-left: 1200px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);
        @media(min-width: 2000px){
            margin-left: 1860px;
        }
    }

    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 800px;
        bottom: -210px;
        right: -315px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);

        @media(min-width: 2000px) {
            height: 100vh;
            right: -600px;
        }
    }
}
.cross-border-5 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -54vh;
        left: -60px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);

        @media(min-width: 2000px){
            left: -400px;
        }
        @media(max-width: 1400px) {
            right: -320px;
        }
        @media(max-width: 736px){
            top: -300px;
            left: -100px;
        }
        @media(max-width: 991px) and (orientation: landscape){
            top: -200px;
            left: -20px;
        }
    }
    &:after {
    @media(max-width: 736px) {
            position: absolute;
            content: "";
            z-index: 99;
            background-image: url(../../contents/arrow-3.svg);
            width: 300px;
            height: 200px;
            background-repeat: no-repeat;
            margin-left: 175px;
            margin-top: -338px;
        }
        @media(max-width: 991px) and (orientation: landscape){
            margin-left: 400px;
        }
    }
}
.cross-border-6 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -77px;
        left: -360px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);
        @media(min-width: 2000px){
            top: -180px;
            left: -540px;
        }
        @media(max-width: 1400px) {
            left: -240px;
            top: -32px;
        }
        @media(max-width: 991px) {
            left: -360px;
        }
    }
}
.cross-border-7 {
    position: relative;
    z-index: 9;
    display: block;
    // margin-top: -200px;
    &:before {
        position: absolute;
        content: "";
        background-image: url(../../contents/ivory-arrow.svg);
        height: 500px;
        background-repeat: no-repeat;
        margin-top: 180px;
        z-index: 999;
        width: 100%;
        margin-left: 940px;
        margin-top: -730px;
         @media(min-width: 2000px){
            margin-top: 1250px;
        }
        @media(max-width: 1400px){
            margin-left: 690px;
            margin-top: -650px;
        }
        @media(max-width: 768px){
            margin-top: -600px;
            margin-left: 200px;
        }

        // position: absolute;
        // content: "";
        // width: 1px;
        // height: 100vh;
        // bottom: 100px;
        // right: -250px;
        // -ms-transform: rotate(45deg);
        // -webkit-transform: rotate(45deg);
        // transform: rotate(45deg);
        // background-image: url(../../contents/arrow-1.svg);
        // // background-color: rgba($black, 1);
        // background-color: rgba($white, 0.3);
    }

    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        bottom: -55px;
        right: -178px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($red-orange, 1);
        @media(min-width: 2000px) {
            right: -300px;
        }
        @media(max-width: 1400px){
            right: 0;
        }
        @media(max-width: 768px) {
            display: none;
        }
    }
}
// cross border for project page
.cross-border-8 {
    position: relative;
    z-index: 9;
    display: block;

    &:before, &:after {
        @media(max-width: 736px){
            display: none;
        }
    }
    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -95vh;
        left: 500px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.15);

        @media(min-width: 2000px) {
            left: 460px;
        }

        @media(max-width: 1400px) {
            left: 460px;
        }

        // @media(max-width: 1200px) {
        //     right: -400px;
        // }

        @media(max-width: 768px) {
            left: 500px;
        }

        // @media(max-width: 736px) {
        //     right: 325px;
        //     bottom: -510px;
        // }

        // @media(max-width: 991px) and (orientation: landscape) {
        //     right: 360px;
        // }
    }

    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        bottom: -820px;
        left: -345px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.15);

        @media(min-width: 2000px){
            bottom: -1530px;
            left: -640px;
        }

        @media(max-width: 1400px) {
            bottom: -650px;
            left: -275px;
        }

        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        @media(max-width: 768px){
            bottom: -870px;
            left: -367px;
        }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}
.cross-border-9 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -89vh;
        left: 450px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.15);

        @media(min-width: 2000px) {
            top: -90vh;
            left: 740px;
        }

        @media(max-width: 1400px) {
            left: 380px;
        }

        @media(max-width: 1200px) {
            top: -87vh;
            left: 575px;
        }

        // @media(max-width: 736px) {
        //     right: 325px;
        //     bottom: -510px;
        // }

        // @media(max-width: 991px) and (orientation: landscape) {
        //     right: 360px;
        // }
    }
    &:before, &:after {
        @media(max-width: 1200px) and (orientation: landscape) {
            display: none;
        }
        @media(max-width: 768px){
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        bottom: -800px;
        left: -345px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.15);

        @media(min-width: 2000px){
            bottom: -1400px;
            left: -660px;
        }
        @media(max-width: 1200px) {
            height: 60vh;
            bottom: -600px;
            left: -305px;
        }
        @media(max-width: 1400px) {
            bottom: -660px;
            left: -290px;
        }

        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}

.cross-border-10 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -82vh;
        right: 130px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.15);

        // @media(min-width: 2000px) {
        //     right: -660px;
        // }

        @media(max-width: 1400px) {
            left: 674px;
            top: -88vh;
        }

        @media(max-width: 1200px) {
            top: -87vh;
            left: 575px;
        }

        // @media(max-width: 736px) {
        //     right: 325px;
        //     bottom: -510px;
        // }

        // @media(max-width: 991px) and (orientation: landscape) {
        //     right: 360px;
        // }
    }
    &:before, &:after {
        @media(max-width: 1200px) and (orientation: landscape) {
            display: none;
        }
        @media(max-width: 768px){
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        bottom: -800px;
        left: 600px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.15);

        @media(max-width: 1200px) {
            height: 60vh;
            bottom: -600px;
            left: -305px;
        }
        @media(max-width: 1400px) {
            bottom: -660px;
            left: 400px;
        }

        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}
.cross-border-11 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -95vh;
        right: -550px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);

        // @media(min-width: 2000px) {
        //     right: -660px;
        // }

        @media(max-width: 1400px) {
            left: 380px;
        }

        @media(max-width: 1200px) {
            top: -87vh;
            left: 575px;
        }

        // @media(max-width: 736px) {
        //     right: 325px;
        //     bottom: -510px;
        // }

        // @media(max-width: 991px) and (orientation: landscape) {
        //     right: 360px;
        // }
    }
    &:before, &:after {
        @media(max-width: 1200px) and (orientation: landscape) {
            display: none;
        }
        @media(max-width: 768px){
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        bottom: -980px;
        left: -200px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.6);

        @media(max-width: 1200px) {
            height: 60vh;
            bottom: -600px;
            left: -305px;
        }
        @media(max-width: 1400px) {
            bottom: -660px;
            left: -20px;
        }

        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}
.cross-border-12 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -70vh;
        right: -40px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.3);

        @media(min-width: 2000px) {
            top: -85vh;
            right: -200px;
        }

        @media(max-width: 1400px) {
            left: 380px;
        }

        @media(max-width: 1200px) {
            top: -87vh;
            left: 575px;
        }

        // @media(max-width: 736px) {
        //     right: 325px;
        //     bottom: -510px;
        // }

        // @media(max-width: 991px) and (orientation: landscape) {
        //     right: 360px;
        // }
    }
    &:before, &:after {
        @media(max-width: 1200px) and (orientation: landscape) {
            display: none;
        }
        @media(max-width: 768px){
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: 0;
        bottom: -885px;
        left: 300px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.3);

        @media(min-width: 2000px) {
            left: 0;
        }

        @media(max-width: 1200px) {
            height: 60vh;
            bottom: -600px;
            left: -305px;
        }
        @media(max-width: 1400px) {
            bottom: 0;
            left: 350px;
            top: 230px;
        }
        @media(max-width: 1400px) and (orientation: landscape) {
            left: 120px;
        }

        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}
.cross-border-13 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -88vh;
        right: -290px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.3);

        // @media(min-width: 2000px) {
        //     right: -660px;
        // }

        @media(max-width: 1400px) {
            left: 700px;
            top: -92vh;
        }

        @media(max-width: 1200px) {
            top: -87vh;
            left: 575px;
        }

        // @media(max-width: 736px) {
        //     right: 325px;
        //     bottom: -510px;
        // }

        // @media(max-width: 991px) and (orientation: landscape) {
        //     right: 360px;
        // }
    }
    &:before, &:after {
        @media(max-width: 1200px) and (orientation: landscape) {
            display: none;
        }
        @media(max-width: 768px){
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        bottom: -995px;
        left: -175px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.3);

        @media(max-width: 1400px) {
            bottom: -750px;
            left: 120px;
        }

        @media(max-width: 1200px) {
            height: 60vh;
            bottom: -600px;
            left: -305px;
        }


        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}
.cross-border-14 {
    position: relative;
    z-index: 9;
    display: block;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -90vh;
        right: -130px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.3);

        // @media(min-width: 2000px) {
        //     right: -225px;
        // }

        @media(max-width: 1400px) {
            left: 580px;
        }

        @media(max-width: 1200px) {
            top: -87vh;
            left: 575px;
        }

        // @media(max-width: 736px) {
        //     right: 325px;
        //     bottom: -510px;
        // }

        // @media(max-width: 991px) and (orientation: landscape) {
        //     right: 360px;
        // }
    }
    &:before, &:after {
        @media(max-width: 1200px) and (orientation: landscape) {
            display: none;
        }
        @media(max-width: 768px){
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        top: -80vh;
        right: -130px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.3);

        @media(min-width: 2000px) {
            right: -225px;
        }

        @media(max-width: 1400px) {
            right: -250px;
        }

        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}
.cross-border-15 {
    position: relative;
    z-index: 9;
    display: block;

    // &:before {
    //     position: absolute;
    //     content: "";
    //     width: 1px;
    //     height: 100vh;
    //     top: -90vh;
    //     right: -130px;
    //     -ms-transform: rotate(45deg);
    //     -webkit-transform: rotate(45deg);
    //     transform: rotate(45deg);
    //     background-color: rgba($white, 0.3);

    //     @media(min-width: 2000px) {
    //         right: -660px;
    //     }

    //     @media(max-width: 1400px) {
    //         left: 380px;
    //     }

    //     @media(max-width: 1200px) {
    //         top: -87vh;
    //         left: 575px;
    //     }

    //     @media(max-width: 736px) {
    //         right: 325px;
    //         bottom: -510px;
    //     }

    //     @media(max-width: 991px) and (orientation: landscape) {
    //         right: 360px;
    //     }
    // }
    &:before, &:after {
        @media(max-width: 1200px) and (orientation: landscape) {
            display: none;
        }
        @media(max-width: 768px){
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        bottom: -916px;
        left: -600px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba($white, 0.3);
        @media(min-width: 2000px) {
            height: 75vh;
            left: -300px;
        }
        @media(max-width: 1200px) {
            height: 60vh;
            bottom: -600px;
            left: -305px;
        }
        @media(max-width: 1400px) {
            bottom: -660px;
            left: -290px;
        }
        @media(max-width: 1400px) and (orientation: landscape) {
            bottom: -860px;
            left: -290px;
        }

        // @media(max-width: 991px) {
        //     right: 512px;
        // }

        // @media(max-width: 736px) {
        //     right: 835px;
        //     bottom: -540px;
        //     display: block;
        // }

        // @media(max-width: 736px)and(orientation : landscape) {
        //     right: 760px;
        //     bottom: -510px;
        // }
    }
}
.red-arrow{
    position: relative;
    display: block;
    &:before {
        position: absolute;
        content: "";
        background-image: url(../../contents/arrow-2.svg);
        height: 500px;
        background-repeat: no-repeat;
        margin-top: 180px;
        z-index: 999;
        width: 100%;
        margin-left: 940px;
        @media(max-width: 1400px){
            margin-top: 150px;
            margin-left: 600px;
        }
        @media(min-width: 2000px){
            margin-top: 1250px;
            margin-left: 1100px;
        }
    }
}

// .white-arrow{
//     &:after {
//         position: absolute;
//         content: "";
//         width: 40px;
//         height: 40px;
//         right: 54px;
//         top: -221px;
//         border-bottom: 1px solid rgba($white, 0.3);
//         border-left: 1px solid rgba($white, 0.3);
//         @media(max-width: 1400px){
//             right: 83px;
//             top: -192px;
//         }

//     }
// }
// .red-arrow {
//     &:before {
//            position: absolute;
//            content: "";
//            height: 40px;
//            width: 40px;
//            border-left: 1px solid rgba($red-orange, 1);
//            border-bottom: 1px solid rgba($red-orange, 1);
//             margin-top: 737px;
//             margin-left: 923px;
//            z-index: 999;

//     }
//     &:after{
//         position: absolute;
//         content: "";
//         height: 130vh;
//         border-left: 1px solid rgba($red-orange, 1);
//         margin-top: -50vh;
//         -webkit-transform: skew(-405deg);
//         -ms-transform: skew(-405deg);
//         transform: skew(-405deg);
//         margin-left: 140%;
//     }
// }
// white cross border
