.calendar {
    border: 2px solid $tree-poppy;
    width: 70px;
    height: 60px;
    border-radius: 4px 4px 14px 14px;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 2px;
        height: 10px;
        background-color: $tree-poppy;
        top: -6px;
        left: 15px;
    }

    &:before {
        position: absolute;
        content: "";
        width: 2px;
        height: 10px;
        background-color: $tree-poppy;
        top: -6px;
        right: 15px;
    }

    .date {
        border-top: 2px solid $tree-poppy;
        margin-top: 15px;
        padding: 8px;
        text-align: center;
        color: $tree-poppy;
    }
}
i.clock-icon-1{
    background-image: url(../../contents/clock-1.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    display: block;
}
i.clock-icon-2 {
    background-image: url(../../contents/clock-2.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    display: block;
}
i.clock-icon-3 {
    background-image: url(../../contents/clock-3.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    display: block;
}

.goto-link {
  margin-left: 40px;
  .icon-wrap {
    padding-right: 30px;
    position: absolute;
    left: -40px;
    top: 38px;
  }
}