.image-slide-view{
    display: flex;
    // @media(min-width: 2000px){
    //     top: 100%;
    // }
    // @media(max-width: 1400px){
    //     top: 10%;
    // }
    // @media(max-width: 1200px) and (orientation: landscape){
    //     top: 50%;
    // }
    @media(max-width: 736px){
        flex-flow: column;
        max-width: 240px;
        margin: auto;
        height: 480px;
        overflow-x: scroll;
    }
    .image-slide{
        position: relative;
        z-index: 9;
        &:before{
            position: absolute;
            content: "";
            background-color: $black;
            height: 100%;
            width: 100%;
            opacity: 0.6;
            z-index: 1;
        }
        img{
            max-width: 100%;
        }
        // max-width: 400px;
        overflow: hidden;
    }
}
.fig-number{
    position: absolute;
    top: 0;
    color: $white;
    padding: 30px;
    width: 100%;
    height: auto;
    z-index: 9;
    opacity: 0.6;
    @media(max-width: 768px){
        padding: 20px;
    }
}
.fig-name{
    position: absolute;
    bottom: 0;
    color: $white;
    padding: 30px;
    width: 100%;
    z-index: 9;
    height: auto;
    @media(max-width: 768px){
        padding: 20px;
    }
}
.align-center{
    margin-top: 30%;
    @media(max-width: 1400px){
        margin-top: 15%;
    }
    @media(max-width: 1200px){
        margin-top: 70%;
    }
    @media(max-width: 1200px) and (orientation: landscape){
        margin-top: 30%;
    }
    @media(max-width: 768px){
        margin-top: 50%;
    }
    @media(max-width: 736px){
        margin-top: 30%;
    }
}
