ul.arrow-list{
    list-style: none;
    li{
        position: relative;
        padding-top: 8px;
        & + li{
        }
        &:before{
            font-family: 'icomoon' !important;
            content: "\e901";
            position: absolute;
            left: -40px;
        }
    }
}

