
// @media only screen and (min-width : 768px) and (max-width : 1366px) {
//     .cross-border-2:before {
//         right: 515px;
//     }
// }
// @media only screen and (min-width : 1024px) and (max-width : 1366px) {
//     .cross-border-2:before {
//         right: 483px;
//     }
// }
// @media only screen and (min-width : 768px) and (max-width : 1024px) {
//     .cross-border-2:before {
//         right: 295px;
//         bottom: 103px;
//     }
// }


// @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
//     /* Styles */
// }

// @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
//     /* Styles */
// }
