.overlay-wrap-1 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:before {
            position: absolute;
            content: "";
            background-image: url(../../contents/arrow-1.svg);
            height: 100vh;
            margin-top: -100vh;
            z-index: 999;
            width: 100%;
            margin-left: 1200px;
            background-repeat: no-repeat;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 250px solid rgba($black, 0.2);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 43px;
            @media(max-width: 736px) {
                border-left: 380px solid rgba($black, 0.2);
                margin-left: -79px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 300px solid rgba($black, 0.15);
            border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 292px;
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 500px solid rgba($black, 0.15);
            border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 592px;
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 500px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1092px;
            @media(min-width: 2000px) {
                border-left: 1200px solid rgba($black, 0.15);
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405deg);
            margin-right: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -529px;
            @media(max-width: 736px) {
                margin-left: -652px;
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1101px;
        }
    }
    .overlay-panel-7 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1500px;
            @media(min-width: 2000px) {
                border-left: 1200px solid rgba($black, 0.1);
                margin-left: -2296px;
            }
        }
    }
}

// overlay gradient 2
.overlay-wrap-2 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 250px solid rgba($black, 0.03);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -6px;
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 270px solid rgba($black, 0.3);
            border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 243px;
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 380px solid rgba($black, 0.15);
            border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 512px;
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1800px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 892px;
        }
    }
    .overlay-panel-5 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405deg);
            margin-right: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.03);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -405px;
        }
    }
    .overlay-panel-6 {
        position: relative;
        //     &:before {
        //          // position: absolute;
        //         // content: "";
        //         // height: 200vh;
        //         // border-left: 1px solid rgba($white, 0.1);
        //         // margin-top: -100vh;
        //         // transform: skew(-405.22deg);
        //         // margin-left: -523px;
        //     }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -804px;
        }
    }
    .overlay-panel-7 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 697px solid rgba($black, 0.03);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1500px;
        }
    }
}

// ooverlay gradient 3
.overlay-wrap-3 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 250px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -3px;
            @media(max-width: 1400px) {
                border-left: 152px solid rgba($black, 0.15);
                margin-left: -2px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 274px solid rgba($black, 0.15);
            // border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 246px;
            @media(max-width: 1400px) {
                margin-left: 150px;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 475px;
            @media(max-width: 1400px) {
                margin-left: 365px;
            }
        }
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 578px solid rgba($black, 0.35);
            // border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 519px;
            @media(max-width: 1400px) {
                margin-left: 423px;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1600px solid rgba($black, 0.35);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1096px;
            @media(max-width: 1400px) {
                margin-left: 1001px;
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405deg);
            margin-right: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 300px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -302px;
        }
    }
    .overlay-panel-6 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -303px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -874px;
        }
    }
    .overlay-panel-7 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 632px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1505px;
        }
    }
}

// overlay gradient 4
.overlay-wrap-4 {
    @media(max-width: 1400px) {
        -ms-transform-origin: top;
        -wbkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .overlay-panel-1 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -380px;
            @media(max-width: 736px) {
                margin-left: 450px;
            }
        }
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 900px solid rgba($black, 0.25);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -402px;
            @media(max-width: 736px) {
                display: none;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 800px solid rgba($black, 0.25);
            border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 497px;
            @media(max-width: 1200px) {
                border-left: 745px solid rgba($black, 0.25);
            }
            @media(max-width: 736px) {
                margin-left: -75px;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            background-image: url(../../contents/arrow-1.svg);
            height: 1000px;
            z-index: 999;
            width: 100%;
            background-repeat: no-repeat;
            right: 0;
            margin-right: -990px;
            margin-top: -300px;
            @media(max-width: 1400px) {
                margin-top: -300px;
                margin-left: 1210px;
            }
            // @media(max-width: 1200px) {
            //     margin-top: -240px;
            //     margin-left: 972px;
            // }
            // @media(max-width: 991px){
            //     margin-top: -153px;
            //     margin-left: 634px;
            // }
            @media(max-width: 768px) {
                background-image: url(../../contents/arrow-mobile-1.svg);
                margin-top: -203px;
                right: auto;
            }
            @media(max-width: 736px) {
                margin-top: 150px;
                margin-left: 128px;
            }
        }
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 200px solid rgba($pumpkin, 0.55);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1297px;
            @media(max-width: 1200px) {
                margin-left: 1000px;
            }
            @media(max-width: 991px) {
                margin-left: 750px;
            }
            @media(max-width: 768px) {
                margin-left: 650px;
            }
            @media(max-width: 736px) {
                margin-left: 500px;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        opacity: 1 !important;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid rgba($red-orange, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1496px;
            @media(max-width: 1200px) {
                margin-left: 1200px;
            }
            @media(max-width: 991px) {
                margin-left: 900px;
            }
            @media(max-width: 768px) {
                margin-left: 800px;
            }
            @media(max-width: 736px) {
                margin-left: 600px;
                border-left: 800px solid rgba($red-orange, 1);
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     // border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-right: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 227px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -628px;
            @media(max-width: 736px) {
                border-left: 127px solid rgba($black, 0.15);
                margin-left: -202px;
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid rgba($black, 0.25);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1200px;
            @media(max-width: 736px) {
                margin-left: -775px;
            }
        }
    }
    .overlay-panel-7 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1496px;
        }
    }
}

// overlay gradient 5 for project page
.overlay-wrap-5 {
    // .overlay-panel-1 {
    //     position: relative;
    //     // width: 200px;
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         background-image: url(../../contents/arrow-1.svg);
    //         height: 100vh;
    //         margin-top: -100vh;
    //         z-index: 999;
    //         width: 100%;
    //         margin-left: 1200px;
    //         background-repeat: no-repeat;
    //     }
    //     &:after {
    //         position: absolute;
    //         content: "";
    //         width: 200px;
    //         height: 200vh;
    //         border-left: 250px solid rgba($black, 0.2);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: 50px;
    //         @media(max-width: 736px) {
    //             border-left: 380px solid rgba($black, 0.2);
    //             margin-left: -79px;
    //         }
    //     }
    // }
    // .overlay-panel-2 {
    //     position: relative;
    //     // width: 200px;
    //     &:after {
    //         position: absolute;
    //         content: "";
    //         width: 200px;
    //         height: 200vh;
    //         border-left: 300px solid rgba($black, 0.15);
    //         border-right: 1px solid rgba($white, 0.3);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: 300px;
    //     }
    // }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 305px solid rgba($black, 0.17);
            // border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 675px;
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 1000px;
        //     left: 117vh;
        //     top: -62vh;
        //     width: 100vh;
        //     background-image: url(../../contents/arrow-4.svg);
        //     background-repeat: no-repeat;
        //     margin-left: 20px;
        //     @media(min-width: 2000px){
        //         left: 157vh;
        //         top: -40vh;
        //     }
        //     @media(max-width: 1400px){
        //         top: -60vh;
        //         left: 115vh;
        //     }
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 980px;
            @media(min-width: 2000px) {
                border-left: 1200px solid rgba($black, 0.15);
            }
        }
    }
    .scroll-to-next {
        right: -340px;
        margin-right: 0;
        &:before {
            position: absolute;
            content: "";
            height: 1000px;
            left: -12px;
            top: -600px;
            width: 100vh;
            background-image: url(../../contents/arrow-4.svg);
            background-repeat: no-repeat;
            @media(max-width: 736px) {
                background-image: url(../../contents/arrow-4-mobile.svg);
                left: -25px;
                top: -315px;
            }
        }
        @media(min-width: 2000px) {
            margin-right: -900px;
            bottom: 50px;
        }
        @media(max-width: 1400px) {
            right: 0;
        }
        @media(max-width: 768px) {
            right: 235px;
            margin-right: 0;
        }
        @media(max-width: 736px) {
            right: 506px;
            bottom: -18vh;
        }
    }
    .overlay-panel-5 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405deg);
        //     margin-right: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 918px solid $black;
            opacity: 0.1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -243px;
            @media(max-width: 736px) {
                margin-left: -855px;
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $black;
            opacity: 0.1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1243px;
            @media(max-width: 736px) {
                margin-left: -1118px;
            }
        }
    }
    .overlay-panel-7 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1496px;
            @media(min-width: 2000px) {
                border-left: 1200px solid rgba($black, 0.1);
                margin-left: -2296px;
            }
        }
    }
}

// overlay gradient 6 for project page
.overlay-wrap-6 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:before {
            position: absolute;
            content: "";
            background-image: url(../../contents/arrow-1.svg);
            height: 100vh;
            margin-top: -100vh;
            z-index: 999;
            width: 100%;
            margin-left: 1030px;
            background-repeat: no-repeat;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 200px solid rgba($tundora-3, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 943px;
            @media(max-width: 1400px) {
                margin-left: 860px;
            }
            @media(max-width: 736px) {
                border-left: 380px solid rgba($tundora-3, 1);
                margin-left: -79px;
            }
            @media(min-width: 2000px) {
                border-left: 750px solid rgba($tundora-3, 1);
                margin-left: 400px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 970px solid rgba($tundora-2, 1);
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1142px;
            @media(max-width: 1400px) {
                margin-left: 1058px;
            }
            @media(max-width: 736px) {
                margin-left: 340px;
                border-left: 510px solid $white;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 100px solid $kabul;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 2110px;
            @media(min-width: 2000px) {
                border-left: 300px solid $kabul;
            }
            @media(max-width: 1400px) {
                margin-left: 1600px;
            }
            @media(max-width: 1200px) {
                margin-left: 1800px;
            }
            @media(max-width: 736px) {
                margin-left: 840px;
                border-left: 100px solid $derby;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid $mule-fawn;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 2200px;
            @media(min-width: 2000px) {
                border-left: 1400px solid $mule-fawn;
                margin-left: 2400px;
            }
            @media(max-width: 1400px) {
                margin-left: 1700px;
            }
            @media(max-width: 1200px) {
                margin-left: 1900px;
            }
            @media(max-width: 736px) {
                margin-left: 880px;
                border-left: 800px solid $texas-rose;
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405deg);
        //     margin-right: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1605px solid rgba($tundora-3, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -661px;
            // @media(max-width: 1400px) {
            //     margin-left: -744px;
            // }
            @media(min-width: 2000px) {
                margin-left: -850px;
            }
            @media(max-width: 736px) {
                margin-left: -1260px;
                border-left: 1605px solid $alabaster;
            }
        }
    }
    // .overlay-panel-6 {
    //     position: relative;
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         height: 200vh;
    //         border-left: 1px solid rgba($white, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -523px;
    //     }
    //     &:after {
    //         position: absolute;
    //         content: "";
    //         width: 200px;
    //         height: 200vh;
    //         border-left: 573px solid rgba($black, 0.15);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -1096px;
    //     }
    // }
    // .overlay-panel-7 {
    //     position: relative;
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         height: 200vh;
    //         border-left: 1px solid rgba($white, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -523px;
    //     }
    //     &:after {
    //         position: absolute;
    //         content: "";
    //         width: 200px;
    //         height: 200vh;
    //         border-left: 400px solid rgba($black, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -1496px;
    //         @media(min-width: 2000px) {
    //             border-left: 1200px solid rgba($black, 0.1);
    //             margin-left: -2296px;
    //         }
    //     }
    // }
}

// overlay gradient 7 for project page
.overlay-wrap-7 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:before {
            position: absolute;
            content: "";
            background-image: url(../../contents/arrow-1.svg);
            height: 100vh;
            margin-top: -100vh;
            z-index: 999;
            width: 100%;
            margin-left: 1200px;
            background-repeat: no-repeat;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 890px solid rgba($tundora-3, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 85px;
            @media(max-width: 736px) {
                border-left: 380px solid $alabaster-1;
                margin-left: 45px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 250px solid rgba($tundora-2, 0.8);
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 972px;
            @media(max-width: 736px) {
                margin-left: 420px;
                border-left: 350px solid $white;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:before {
            @media(max-width: 736px) {
                position: absolute;
                content: "";
                background-image: url(../../contents/mobile-arrow-gery.svg);
                height: 1000px;
                left: 185px;
                top: 260px;
                width: 100vh;
                background-repeat: no-repeat;
            }
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 767px solid $tundora;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1220px;
            @media(max-width: 736px) {
                margin-left: 700px;
                border-left: 767px solid $gallery;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 600px solid $black;
            opacity: 0.1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1850px;
            @media(min-width: 2000px) {
                border-left: 1200px solid $black;
                opacity: 0.1;
            }
            @media(max-width: 736px) {
                display: none;
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        &:before {
            @media(max-width: 736px) {
                position: absolute;
                content: "";
                height: 200vh;
                border-left: 1px solid #000;
                margin-top: -100vh;
                transform: skew(-405deg);
                margin-right: -523px;
            }
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 750px solid rgba($tundora-3, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -640px;
            @media(max-width: 736px) {
                margin-left: -550px;
                border-left: 750px solid $alabaster;
            }
        }
    }
    // .overlay-panel-6 {
    //     position: relative;
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         height: 200vh;
    //         border-left: 1px solid rgba($white, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -523px;
    //     }
    //     &:after {
    //         position: absolute;
    //         content: "";
    //         width: 200px;
    //         height: 200vh;
    //         border-left: 573px solid rgba($black, 0.15);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -1096px;
    //     }
    // }
    // .overlay-panel-7 {
    //     position: relative;
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         height: 200vh;
    //         border-left: 1px solid rgba($white, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -523px;
    //     }
    //     &:after {
    //         position: absolute;
    //         content: "";
    //         width: 200px;
    //         height: 200vh;
    //         border-left: 400px solid rgba($black, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -1496px;
    //         @media(min-width: 2000px) {
    //             border-left: 1200px solid rgba($black, 0.1);
    //             margin-left: -2296px;
    //         }
    //     }
    // }
}

// overlay gradient 8 for project page
.overlay-wrap-8 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     background-image: url(../../contents/arrow-1.svg);
        //     height: 100vh;
        //     margin-top: -100vh;
        //     z-index: 999;
        //     width: 100%;
        //     margin-left: 1200px;
        //     background-repeat: no-repeat;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 250px solid rgba($pumpkin, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 615px;
            @media(min-width: 2000px) {
                border-left: 500px solid rgba($pumpkin, 1);
                margin-left: 550px;
            }
            @media(max-width: 736px) {
                margin-left: 450px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 300px solid rgba($orange, 1);
            // border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 735px;
            @media(min-width: 2000px) {
                border-left: 600px solid rgba($orange, 1);
                margin-left: 852px;
            }
            @media(max-width: 1400px) {
                margin-left: 700px;
            }
            @media(max-width: 736px) {
                margin-left: 482px;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 200px solid rgba($pomegranate, 1);
            // border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1031px;
            @media(min-width: 2000px) {
                border-left: 400px solid rgba($pomegranate, 1);
                margin-left: 1450px;
            }
            @media(max-width: 1400px) {
                margin-left: 900px;
            }
            @media(max-width: 768px) {
                margin-left: 999px;
                border-left: 400px solid rgba($pomegranate, 1);
            }
            @media(max-width: 736px) {
                margin-left: 740px;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 270px;
        //     left: 130vh;
        //     top: -30vh;
        //     z-index: 9999;
        //     width: 100vh;
        //     background-image: url(../../contents/arrow-4.svg);
        //     background-repeat: no-repeat;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1600px solid rgba($red-orange, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1230px;
            @media(min-width: 2000px) {
                border-left: 1800px solid rgba($red-orange, 1);
                margin-left: 1845px;
            }
            @media(max-width: 1400px) {
                margin-left: 1056px;
            }
            @media(max-width: 768px) {
                margin-left: 1365px;
            }
            @media(max-width: 736px) {
                margin-left: 800px;
            }
        }
        &:before {
            @media(max-width: 736px) {
                position: absolute;
                content: "";
                width: 300px;
                height: 300px;
                background-image: url(../../contents/footer-arrow-mobile.svg);
                z-index: 1;
                background-repeat: no-repeat;
                top: 480px;
                margin-left: -34px;
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405deg);
        //     margin-right: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid rgba($pumpkin, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -384px;
            @media(max-width: 736px) {
                margin-left: 251px;
                border-left: 200px solid rgba($pumpkin, 1);
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid rgba($pumpkin, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -956px;
            @media(min-width: 2000px) {
                border-left: 800px solid rgba($pumpkin, 1);
                margin-left: -1100px;
            }
            @media(max-width: 736px) {
                margin-left: -528px;
                border-left: 800px solid rgba($pumpkin, 1);
            }
        }
    }
    // .overlay-panel-7 {
    //     position: relative;
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         height: 200vh;
    //         border-left: 1px solid rgba($white, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -523px;
    //     }
    //     &:after {
    //         position: absolute;
    //         content: "";
    //         width: 200px;
    //         height: 200vh;
    //         border-left: 400px solid rgba($black, 0.1);
    //         margin-top: -100vh;
    //         transform: skew(-405.22deg);
    //         margin-left: -1496px;
    //         @media(min-width: 2000px) {
    //             border-left: 1200px solid rgba($black, 0.1);
    //             margin-left: -2296px;
    //         }
    //     }
    // }
    .arrow-icon {
        position: absolute;
        width: 535px;
        height: 269px;
        background-image: url(../../contents/footer-arrow.svg);
        background-repeat: no-repeat;
        z-index: 99;
        right: -120px;
        top: 80vh;
        @media(min-width: 2000px) {
            top: 88vh;
        }
        @media(max-width: 1400px) and (orientation: landscape) {
            top: 80vh;
        }
        @media(max-width: 1200px) {
            top: 85vh;
        }
        @media(max-width: 1200px) and (orientation: landscape) {
            top: 75vh;
        }
        @media(max-width: 768px) {
            top: 80vh;
            right: -5px;
        }
        @media(max-width: 736px) {
            display: none;
        }
    }
}

// color grandient 1
.color-overlay-wrap-1 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 250px solid rgba($black, 0.2);
            margin-top: -100vh;
            // transform: skew(-405.22deg);
            margin-left: 50px;
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            // position: absolute;
            // content: "";
            // width: 200px;
            // height: 600vh;
            // border-left: 1400px solid rgba($black, 0.15);
            // border-right: 1px solid rgba($white, 0.3);
            // margin-top: -100vh;
            // // transform: skew(-405.22deg);
            // margin-left: -207px;
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1400px solid rgba($black, 0.15);
            border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -500px;
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            // border-left: 500px solid rgba($red-orange, 0.3);
            border-left: 300px solid rgba($pomegranate, 1);
            // border-right: 1px solid rgba($white, 0.35);
            margin-top: -100vh;
            margin-left: 1000px;
            transform: skew(-405.22deg);
            @media(max-width: 1700px) {
                margin-left: 900px;
            }
            @media(max-width: 736px) {
                margin-left: 150px;
            }
            @media(max-width: 736px) and (orientation: landscape) {
                margin-left: 320px;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 900px solid rgba($red-orange, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1200px;
            @media(max-width: 1700px) {
                margin-left: 1100px;
            }
            @media(max-width: 1500px) {
                margin-left: 1000px;
            }
            @media(max-width: 736px) {
                margin-left: 220px;
            }
            @media(max-width: 991px) and (orientation: landscape) {
                margin-left: 400px;
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            // transform: skew(-405.22deg);
            margin-right: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 573px solid rgba($black, 0.15);
            margin-top: -100vh;
            // transform: skew(-405.22deg);
            margin-left: -523px;
        }
    }
    .overlay-panel-6 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            // transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 573px solid rgba($black, 0.15);
            margin-top: -100vh;
            // transform: skew(-405.22deg);
            margin-left: -1096px;
        }
    }
    .overlay-panel-7 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1496px;
        }
    }
}

// color gradient 2
.color-overlay-wrap-2 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 300vh;
            border-left: 382px solid rgba($tree-poppy, 0.2);
            margin-top: -100vh;
            margin-left: 637px;
            transform: skew(-405.22deg);
            @media(max-width: 1400px) {
                margin-left: 739px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 300px solid rgba($black, 0.15);
            border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 300px;
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            // border-left: 500px solid rgba($black, 0.15);
            // border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 600px;
        }
    }
    .overlay-panel-4 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            // border-left: 400px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1100px;
        }
    }
    .overlay-panel-5 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-right: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 255px solid rgba($black, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
    }
    .overlay-panel-6 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid rgba($black, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1096px;
        }
    }
    .overlay-panel-7 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1496px;
        }
    }
}

// color gradient 3
.color-overlay-wrap-3 {
    .overlay-panel-1 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 150vh;
            border-left: 1px solid rgba($white, 0.6);
            margin-top: 18vh;
            -webkit-transform: skew(-405deg);
            -ms-transform: skew(-405deg);
            transform: skew(-405deg);
            margin-left: 910px;
            @media(min-width: 2000px) {
                margin-left: 1382px;
                margin-top: -16vh;
            }
            @media(max-width: 1200px) {
                height: 140vh;
            }
            @media(max-width: 768px) {
                height: 135vh;
                margin-left: 1000px;
            }
            @media(max-width: 736px) {
                margin-left: 75px;
                margin-top: 110vh;
            }
            @media(max-width: 991px) and (orientation: landscape) {
                margin-left: 0;
                margin-top: 255vh;
                z-index: 9;
            }
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 250px solid rgba($red-orange, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -320px;
            @media(min-width: 2000px) {
                border-left: 450px solid rgba($red-orange, 0.15);
                margin-left: -810px;
            }
            @media(max-width: 736px) {
                border-left: 250px solid $pomegranate;
            }
            @media(max-width: 991px) and (orientation: landscape) {
                margin-left: 232px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 600px solid rgba($orange, 0.15);
            // border-right: 1px solid rgba($white, 0.3);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -70px;
            @media(max-width: 736px) {
                border-left: 200px solid rgba($red-orange, 0.15);
            }
            @media(max-width: 991px) and (orientation: landscape) {
                margin-left: 480px;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 1);
            margin-top: -100vh;
            transform: skew(-405deg);
            margin-right: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 600px solid rgba($orange, 0.15);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 531px;
        }
    }
    .overlay-panel-4 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 1);
            margin-top: -100vh;
            transform: skew(-405deg);
            margin-right: -523px;
            // @media(max-width: 736px) {
            //     border-left: none;
            //     z-index: 99;
            //     background-image: url(../../contents/arrow-3.svg);
            //     background-repeat: no-repeat;
            //     height: 500px;
            //     width: 500px;
            //     transform: skew(0);
            //     margin-top: 343vh;
            //     margin-left: 150px;
            // }
        }
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 351px solid rgba($tree-poppy, 0.15);
            margin-top: -100vh;
            -webkit-transform: skew(-405deg);
            -ms-transform: skew(-405deg);
            transform: skew(-405deg);
            margin-left: 1133px;
            @media(min-width: 2000px) {
                margin-left: 750px;
            }
            @media(max-width: 1200px) {
                margin-left: 500px;
            }
            @media(max-width: 736px) {
                border-left: 185px solid rgba($tree-poppy, 0.15);
                margin-left: 1096px;
            }
            @media(max-width: 991px) and (orientation: landscape) {
                display: none;
            }
        }
    }
    .overlay-panel-5 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405deg);
            margin-right: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 200px solid rgba($red-orange, 0.5);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -520px;
            @media(min-width: 2000px) {
                border-left: 400px solid rgba($red-orange, 0.5);
                margin-left: -1210px;
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 600vh;
            border-left: 200px solid rgba($orange, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -720px;
            @media(min-width: 2000px) {
                display: none;
            }
        }
    }
    .overlay-panel-7 {
        position: relative;
        // &:before {
        //     @media(max-width: 736px){
        //         position: absolute;
        //         content: "";
        //         height: 200vh;
        //         border-left: 200px solid rgba($white, 0.3);
        //         margin-top: -50vh;
        //         transform: skew(-405.22deg);
        //         margin-left: -515px;
        //         z-index: 1;
        //     }
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 400vh;
            border-left: 2500px solid rgba($red-orange, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -2043px;
            @media(min-width: 2000px) {
                border-left: 3000px solid rgba($red-orange, 1);
                margin-left: -2752px;
            }
            @media(max-width: 1200px) {
                border-left: 2050px solid rgba($red-orange, 1);
                margin-left: -1593px;
            }
            @media(max-width: 991px) {
                margin-top: -96vh;
            }
            @media(max-width: 768px) {
                margin-left: -1528px;
            }
            @media(max-width: 736px) {
                margin-top: -118vh;
            }
            @media(max-width: 991px) and (orientation: landscape) {
                margin-top: -80vh;
            }
        }
    }
}

// color gradient 4
.color-overlay-wrap-4 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:before {
            position: absolute;
            content: "";
            background-image: url(../../contents/arrow-1.svg);
            height: 100vh;
            margin-top: -100vh;
            z-index: 999;
            width: 100%;
            margin-left: 1200px;
            background-repeat: no-repeat;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 300px solid $Pomegranate-2;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 672px;
            @media(max-width: 1400px) {
                margin-left: 620px;
                border-left: 200px solid $Pomegranate-2;
            }
            @media(max-width: 736px) {
                border-left: 84px solid $Pomegranate-2;
                margin-left: 260px;
                z-index: 1;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 350px solid $Pomegranate-1;
            // opacity: 0.3;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 871px;
            @media(max-width: 1400px) {
                margin-left: 810px;
            }
            @media(max-width: 736px) {
                margin-left: 335px;
                border-left: 200px solid $Pomegranate-1;
                ;
                z-index: 1;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 767px solid $red-orange;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1220px;
            @media(max-width: 1400px) {
                margin-left: 1150px;
            }
            @media(max-width: 991px) {
                border-left: 1000px solid $red-orange;
            }
            @media(max-width: 736px) {
                margin-left: 500px;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 1000px;
        //     left: 113vh;
        //     top: -20px;
        //     width: 100vh;
        //     background-image: url(../../contents/arrow-4.svg);
        //     background-repeat: no-repeat;
        //     @media(min-width: 2000px){
        //         left: 80vh;
        //         z-index: 99;
        //     }
        //     @media(max-width: 1400px){
        //         left: 112vh;
        //         top: 18vh;
        //     }
        // }
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $red-orange;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1850px;
            @media(min-width: 2000px) {
                border-left: 2000px solid $red-orange;
            }
            @media(max-width: 736px) {
                margin-left: 0;
            }
        }
    }
    .scroll-to-next {
        right: 0;
        margin-right: 340px;
        bottom: 20vh;
        &:before {
            position: absolute;
            content: "";
            height: 1000px;
            left: -12px;
            top: -600px;
            width: 100vh;
            background-image: url(../../contents/arrow-4.svg);
            background-repeat: no-repeat;
            // @media(min-width: 2000px){
            //     left: 80vh;
            //     z-index: 99;
            // }
            @media(max-width: 1400px) {
                left: -255px;
                top: -300px;
            }
            @media(max-width: 1400px) and (orientation: landscape) {
                left: -17px;
                top: -590px;
            }
            @media(max-width: 1200px) {
                background-image: url(../../contents/arrow-4-mobile.svg);
                left: -25px;
                top: -315px
            }
        }
        @media(min-width: 2000px) {
            margin-right: 470px;
            bottom: 30vh;
        }
        @media(max-width: 1400px) {
            margin-right: 175px;
            bottom: 20vh;
        }
        @media(max-width: 736px) {
            margin-right: 125px;
            bottom: 12vh;
        }
    }
    .overlay-panel-5 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405deg);
        //     margin-right: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 750px solid $cinnabar;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -77px;
            @media(max-width: 1400px) {
                margin-left: -125px;
            }
            @media(max-width: 736px) {
                margin-left: -481px;
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 300px solid $pomegranate;
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -378px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid $cinnabar;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -649px;
            @media(min-width: 2000px) {
                border-left: 1000px solid $cinnabar;
                margin-left: -1070px;
            }
        }
    }
    .overlay-panel-7 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1496px;
            @media(min-width: 2000px) {
                border-left: 1200px solid rgba($black, 0.1);
                margin-left: -2296px;
            }
        }
    }
}

// color gradient 5
.color-overlay-wrap-5 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:before {
            position: absolute;
            content: "";
            background-image: url(../../contents/arrow-1.svg);
            height: 100vh;
            margin-top: -100vh;
            z-index: 999;
            width: 100%;
            margin-left: 1200px;
            background-repeat: no-repeat;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 300px solid $Pomegranate-2;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 672px;
            @media(max-width: 736px) {
                border-left: 300px solid $Pomegranate-2;
                margin-left: 270px;
                z-index: 1;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 370px solid $Pomegranate-1;
            // opacity: 0.3;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 871px;
            z-index: 1;
            @media(max-width: 736px) {
                margin-left: 700px;
                z-index: 1;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 900px solid $red-orange;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1090px;
            @media(max-width: 736px) {
                border-left: 250px solid $red-orange;
                margin-left: 550px;
                z-index: 1;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 1000px;
        //     left: 100vh;
        //     top: -20px;
        //     width: 100vh;
        //     background-image: url(../../contents/arrow-4.svg);
        //     background-repeat: no-repeat;
        //     @media(min-width: 2000px){
        //         top: 10vh;
        //         left: 80vh;
        //         z-index: 99;
        //     }
        //     @media(max-width: 1400px){
        //         top: 22vh;
        //         left: 105vh;
        //     }
        // }
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $Pomegranate-1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1980px;
            @media(min-width: 2000px) {
                border-left: 2000px solid $Pomegranate-1;
            }
            @media(max-width: 736px) {
                margin-left: 900px;
            }
        }
    }
    // .scroll-to-next{
    //     right: 0;
    //     margin-right: 430px;
    //     bottom: 20vh;
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         height: 1000px;
    //         left: -12px;
    //         top: -600px;
    //         width: 100vh;
    //         background-image: url(../../contents/arrow-4.svg);
    //         background-repeat: no-repeat;
    //         // @media(min-width: 2000px){
    //         //     left: 80vh;
    //         //     z-index: 99;
    //         // }
    //         @media(max-width: 1400px){
    //             left: -17px;
    //             top: -590px;
    //         }
    //         @media(max-width: 1200px){
    //             background-image: url(../../contents/arrow-4-mobile.svg);
    //             left: -25px;
    //             top: -315px;
    //         }
    //         @media(max-width: 736px){
    //             left: -255px;
    //             top: -300px;
    //         }
    //     }
    //     @media(min-width: 2000px){
    //         margin-right: 470px;
    //         bottom: 46vh;
    //     }
    //     @media(max-width: 1400px){
    //         margin-right: 240px;
    //         bottom: 10vh;
    //     }
    //     @media(max-width: 1200px){
    //         margin-right: 145px;
    //         bottom: 37vh;
    //     }
    //     @media(max-width: 1200px)and (orientation: landscape){
    //         bottom: 26vh;
    //         margin-right: 200px;
    //     }
    //     @media(max-width: 768px){
    //         margin-right: 90px;
    //         bottom: 36vh;
    //     }
    //     @media(max-width: 736px){
    //         display: none;
    //     }
    // }
    .overlay-panel-5 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 1px solid rgba($white, 0.1);
        //     margin-top: -100vh;
        //     transform: skew(-405deg);
        //     margin-right: -523px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 750px solid $cinnabar;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -77px;
            @media(max-width: 736px) {
                margin-left: -450px;
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 200vh;
        //     border-left: 300px solid $pomegranate;
        //     margin-top: -100vh;
        //     transform: skew(-405.22deg);
        //     margin-left: -378px;
        // }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 573px solid $cinnabar;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -649px;
            @media(min-width: 2000px) {
                border-left: 1000px solid $cinnabar;
                margin-left: -1070px;
            }
        }
    }
    .overlay-panel-7 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 1px solid rgba($white, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -523px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid rgba($black, 0.1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -1496px;
            @media(min-width: 2000px) {
                border-left: 1200px solid rgba($black, 0.1);
                margin-left: -2296px;
            }
        }
    }
}

// color gradient 6
.color-overlay-wrap-6 {
    .overlay-panel-1 {
        position: relative;
        // width: 200px;
        &:before {
            position: absolute;
            content: "";
            background-image: url(../../contents/arrow-1.svg);
            height: 100vh;
            margin-top: -100vh;
            width: 100%;
            margin-left: 1200px;
            background-repeat: no-repeat;
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 330px solid $Pomegranate-1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 907px;
            @media(max-width: 736px) {
                border-left: 380px solid $Pomegranate-1;
                margin-left: -79px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 150px solid $Pomegranate-3;
            // opacity: 0.3;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1224px;
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 767px solid $orange-1;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1350px;
        }
    }
    .overlay-panel-4 {
        position: relative;
        // &:before {
        //     position: absolute;
        //     content: "";
        //     height: 1000px;
        //     left: 100vh;
        //     top: -20px;
        //     width: 100vh;
        //     background-image: url(../../contents/arrow-4.svg);
        //     background-repeat: no-repeat;
        //     @media(min-width: 2000px){
        //         top: 10vh;
        //         left: 80vh;
        //         z-index: 99;
        //     }
        //     @media(max-width: 1400px){
        //         top: 22vh;
        //         left: 105vh;
        //     }
        // }
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $ecstasy;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1980px;
            @media(min-width: 2000px) {
                border-left: 2000px solid $ecstasy;
            }
        }
    }
    .scroll-to-next {
        right: 0;
        margin-right: 430px;
        bottom: 20vh;
        &:before {
            position: absolute;
            content: "";
            height: 1000px;
            left: -12px;
            top: -600px;
            width: 100vh;
            background-image: url(../../contents/arrow-4.svg);
            background-repeat: no-repeat;
            // @media(min-width: 2000px){
            //     left: 80vh;
            //     z-index: 99;
            // }
            // @media(max-width: 1400px){
            //     left: -17px;
            //     top: -590px;
            // }
            @media(max-width: 1200px) {
                background-image: url(../../contents/arrow-4-mobile.svg);
                left: -25px;
                top: -315px;
            }
        }
        @media(min-width: 2000px) {
            margin-right: 470px;
            bottom: 46vh;
        }
        @media(max-width: 1400px) {
            margin-right: 240px;
            bottom: 10vh;
        }
        @media(max-width: 1200px) {
            margin-right: 145px;
            bottom: 37vh;
        }
        @media(max-width: 1200px)and (orientation: landscape) {
            bottom: 26vh;
            margin-right: 200px;
            z-index: 1;
        }
        @media(max-width: 768px) {
            margin-right: 90px;
            bottom: 36vh;
            z-index: 1;
        }
        @media(max-width: 736px) {
            display: none;
        }
    }
    .overlay-panel-5 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 100px solid $Pomegranate-5;
            // border-right: 150px solid $Pomegranate-1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 810px;
            @media(max-width: 736px) {
                border-left: 1000px solid $Pomegranate-5;
                margin-left: 600px;
                z-index: 1;
            }
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 150px solid $cinnabar;
            // border-right: 150px solid $Pomegranate-1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 665px;
            @media(max-width: 736px) {
                margin-left: -652px;
                z-index: 1;
            }
        }
    }
    .overlay-panel-6 {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 200vh;
            border-left: 200px solid $valencia;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 470px;
            @media(max-width: 736px) {
                z-index: 1;
            }
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 775px solid $punch;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -300px;
            @media(min-width: 2000px) {
                border-left: 2000px solid $punch;
                margin-left: -1500px;
            }
            @media(max-width: 736px) {
                z-index: 1;
            }
        }
    }
    .overlay-panel-7 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 400px solid $punch;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -620px;
            @media(min-width: 2000px) {
                border-left: 1200px solid $punch;
                margin-left: -2296px;
            }
        }
    }
}

// color gradient 7
.color-overlay-wrap-7 {
    .overlay-panel-1 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $Pomegranate-2;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -965px;
            // z-index: 1;
            @media(min-width: 2000px) {
                border-left: 1500px solid $Pomegranate-2;
                margin-left: -1100px;
            }
            @media(max-width: 736px) {
                border-left: 400px solid rgb(255, 158, 21);
                ;
                margin-left: 716px;
                z-index: 2;
                opacity: 0.4;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 700px solid $pomegranate;
            // opacity: 0.3;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 32px;
            @media(max-width: 736px) {
                margin-left: 418px;
                border-left: 800px solid $blaze-orange;
                z-index: 1;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 767px solid $orange;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 685px;
            @media(max-width: 991px) {
                border-left: 1000px solid $orange;
            }
            @media(max-width: 736px) {
                margin-left: 40px;
                border-left: 400px solid $orange;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $orange-1;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1420px;
            @media(min-width: 2000px) {
                border-left: 2000px solid $orange-1;
            }
            @media(max-width: 736px) {
                margin-left: -350px;
                border-left: 400px solid $pomegranate;
            }
        }
    }
    .scroll-to-next {
        right: 0;
        margin-right: 340px;
        bottom: 20vh;
        &:before {
            position: absolute;
            content: "";
            height: 1000px;
            left: -12px;
            top: -600px;
            width: 100vh;
            background-image: url(../../contents/arrow-4.svg);
            background-repeat: no-repeat;
            // @media(min-width: 2000px){
            //     left: 80vh;
            //     z-index: 99;
            // }
            @media(max-width: 1400px) {
                left: -255px;
                top: -300px;
            }
            @media(max-width: 1400px) and (orientation: landscape) {
                left: -17px;
                top: -590px;
            }
            @media(max-width: 1200px) {
                background-image: url(../../contents/arrow-4-mobile.svg);
                left: -25px;
                top: -315px
            }
        }
        @media(min-width: 2000px) {
            margin-right: 470px;
            bottom: 35vh;
        }
        @media(max-width: 1400px) {
            margin-right: 175px;
            bottom: 20vh;
        }
        @media(max-width: 736px) {
            margin-right: 65px;
            bottom: 5vh;
            z-index: 1;
        }
    }
}

// color gradient 8
.color-overlay-wrap-8 {
    .overlay-panel-1 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $orange-2;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -764px;
            z-index: 1;
            @media(min-width: 2000px) {
                border-left: 1500px solid $orange-2;
                margin-left: -1164px;
            }
            @media(max-width: 1400px) {
                margin-left: -790px;
            }
            @media(max-width: 736px) {
                border-left: 400px solid $orange-2;
                margin-left: -300px;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 900px solid $pomegranate;
            // opacity: 0.3;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 202px;
            @media(max-width: 736px) {
                margin-left: 80px;
                border-left: 200px solid $pomegranate;
                z-index: 1;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:before {
            @media(max-width: 736px) {
                position: absolute;
                content: "";
                background-image: url(../../contents/mobile-drop-arow.svg);
                width: 200px;
                height: 300px;
                z-index: 999;
                top: 315px;
                right: -125px;
                background-repeat: no-repeat;
            }
            @media(max-width: 991px) and (orientation: landscape) {
                top: 0;
                right: -250px;
            }
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 500px solid $orange-1;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1101px;
            z-index: 1;
            @media(max-width: 1400px) {
                margin-left: 1000px;
            }
            // @media(max-width: 991px){
            //    border-left: 1000px solid $orange;
            // }
            @media(max-width: 736px) {
                margin-left: 764px;
                border-left: 500px solid $tree-poppy;
                opacity: 0.4;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $orange;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1420px;
            @media(min-width: 2000px) {
                border-left: 2000px solid $orange-1;
            }
            @media(max-width: 736px) {
                margin-left: 0;
                border-left: 1500px solid $orange;
            }
        }
    }
    button.scroll-to-next {
        right: 0;
        margin-right: 340px;
        bottom: 20vh;
        &:before {
            position: absolute;
            content: "";
            height: 1000px;
            left: -12px;
            top: -600px;
            width: 100vh;
            background-image: url(../../contents/arrow-4.svg);
            background-repeat: no-repeat;
            // @media(min-width: 2000px){
            //     left: 80vh;
            //     z-index: 99;
            // }
            @media(max-width: 1400px) {
                left: -255px;
                top: -300px;
            }
            @media(max-width: 1400px) and (orientation: landscape) {
                left: -17px;
                top: -590px;
            }
            @media(max-width: 1200px) {
                background-image: url(../../contents/arrow-4-mobile.svg);
                left: -25px;
                top: -315px
            }
        }
        @media(min-width: 2000px) {
            margin-right: 470px;
            bottom: 58vh;
        }
        @media(max-width: 1400px) {
            margin-right: 175px;
            bottom: 20vh;
        }
        @media(max-width: 736px) {
            margin-right: 125px;
            bottom: 12vh;
        }
    }
}

// color gradient 9
.color-overlay-wrap-9 {
    .overlay-panel-1 {
        position: relative;
        &:before {
            @media(max-width: 736px) {
                position: absolute;
                content: "";
                background-image: url(../../contents/mobile-drop-arow.svg);
                width: 200px;
                height: 300px;
                z-index: 1;
                top: 470px;
                right: -85px;
                background-repeat: no-repeat;
            }
            @media(max-width: 991px) and (orientation: landscape) {
                top: 0;
                right: -250px;
            }
        }
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1700px solid $orange-2;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: -764px;
            z-index: 1;
            @media(max-width: 1400px) {
                margin-left: -1000px;
            }
            @media(max-width: 736px) {
                border-left: 400px solid $tree-poppy;
                margin-left: 800px;
                z-index: 1;
                opacity: 0;
            }
        }
    }
    .overlay-panel-2 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 900px solid $pomegranate;
            // opacity: 0.3;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 550px;
            // @media(max-width: 1400px){
            //     margin-left: 810px;
            // }
            @media(max-width: 736px) {
                margin-left: 335px;
                border-left: 1000px solid $orange;
                // z-index: 1;
            }
        }
    }
    .overlay-panel-3 {
        position: relative;
        // width: 200px;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 500px solid $orange-1;
            // border-right: 1px solid rgba($tundora-2, 1);
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1420px;
            z-index: 1;
            @media(max-width: 1400px) {
                margin-left: 1194px;
            }
            @media(max-width: 991px) {
                border-left: 1000px solid $orange;
            }
            @media(max-width: 736px) {
                margin-left: 245px;
                border-left: 300px solid $pomegranate;
            }
        }
    }
    .overlay-panel-4 {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 200vh;
            border-left: 1000px solid $orange;
            margin-top: -100vh;
            transform: skew(-405.22deg);
            margin-left: 1900px;
            @media(min-width: 2000px) {
                border-left: 2000px solid $orange-1;
            }
            @media(max-width: 1400px) {
                margin-left: 1640px;
            }
            @media(max-width: 736px) {
                margin-left: -200px;
                border-left: 980px solid $orange-2;
            }
        }
    }
    button.scroll-to-next {
        right: 0;
        margin-right: 340px;
        bottom: 20vh;
        &:before {
            position: absolute;
            content: "";
            height: 1000px;
            left: -12px;
            top: -600px;
            width: 100vh;
            background-image: url(../../contents/arrow-4.svg);
            background-repeat: no-repeat;
            // @media(min-width: 2000px){
            //     left: 80vh;
            //     z-index: 99;
            // }
            @media(max-width: 1400px) {
                left: -255px;
                top: -300px;
            }
            @media(max-width: 1400px) and (orientation: landscape) {
                left: -17px;
                top: -590px;
            }
            @media(max-width: 1200px) {
                background-image: url(../../contents/arrow-4-mobile.svg);
                left: -25px;
                top: -315px
            }
        }
        @media(min-width: 2000px) {
            margin-right: 470px;
            bottom: 58vh;
        }
        @media(max-width: 1400px) {
            margin-right: 175px;
            bottom: 20vh;
        }
        @media(max-width: 736px) {
            margin-right: 125px;
            bottom: 12vh;
        }
    }
}

.cross-border-xx {
    .scroll-to-next {
        right: 0;
        margin-right: 80px;
        bottom: -90px;
        &:before {
            position: absolute;
            content: "";
            height: 1000px;
            left: -12px;
            top: -600px;
            width: 100vh;
            background-image: url(../../contents/arrow-4.svg);
            background-repeat: no-repeat;
            // @media(min-width: 2000px){
            //     left: 80vh;
            //     z-index: 99;
            // }
            // @media(max-width: 1400px){
            //     left: -17px;
            //     top: -590px;
            // }
            // @media(max-width: 1200px){
            //     background-image: url(../../contents/arrow-4-mobile.svg);
            //     left: -25px;
            //     top: -315px;
            // }
            // @media(max-width: 736px){
            //     left: -255px;
            //     top: -300px;
            // }
        }
        // @media(min-width: 2000px){
        //     margin-right: 470px;
        //     bottom: 46vh;
        // }
        // @media(max-width: 1400px){
        //     margin-right: 240px;
        //     bottom: 10vh;
        // }
        // @media(max-width: 1200px){
        //     margin-right: 145px;
        //     bottom: 37vh;
        // }
        // @media(max-width: 1200px)and (orientation: landscape){
        //     bottom: 26vh;
        //     margin-right: 200px;
        // }
        // @media(max-width: 768px){
        //     margin-right: 90px;
        //     bottom: 36vh;
        // }
        @media(max-width: 736px) {
            display: none;
        }
    }
}