.card{
  &.pumpkin{
    transition: 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.image-slide-view {
  a{
    img{
      transition: 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
}