@keyframes heartbeat{
	0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(1,1);
  }
}

.preloader-brand{
  position: absolute;
  transition: all 0.6s ease-out;
  animation: heartbeat 0.8s infinite;
	transform-origin: center;
  top: 50%;
  left: 50%;
  margin-top: -26px; 
  margin-left: -20px;
  z-index: 2;
  opacity: 1;
  &.hide{
    opacity: 0;
  }
}

.brand, .burger-menu, .site-icon{
  transition: all 0.6s ease-in-out;
  opacity: 0;
  &.show{
    opacity: 1;
  }
}