#contactSection {
  .captionAnimate1, .captionAnimate2{
    display: inline-block;
  }
  .linkAnimate1, .linkAnimate2{
    transition: all 0.6s ease-in-out;
    opacity: 0;
  }
  .linkAnimate1{
    transform: translateX(150px);
    transition-delay: 1.5s;
    &.startAnim{
      transform: translateX(0px) translateX(0px);
      opacity: 1;
    }
  }
  .linkAnimate2{
    transform: translateX(150px);
    transition-delay: 1.8s;
    &.startAnim{
      transform: translateX(0px) translateX(0px);
      opacity: 1;
    }
  }
}