.parallax {
    //transition: all 1000ms linear;
    transition: 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
}

.fp-scroller {
    transition-duration: 400ms !important;
    transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000) !important;
}