.hero-banner-block {
    perspective: 1000px;
    .bg-holder-wrap {
        transition: all 0.6s ease;
        //animation: 0.3s zoomOut;
        //transition-delay: 0.1s;
        transform: scale(0) rotate3d(-1,1,0,-180deg);
        opacity: 0;
    }
    .block-lg {
        transition: all 0.4s ease;
        transform: translateX(20px);
        opacity: 0;
    }
    .block-sm {
        transition: all 0.4s ease;
        transform: translateX(-20px);
        opacity: 0;
    }
    .block-lg,
    .block-sm {
        transition-delay: 0.5s;
    }
    &.show-popup {
        .bg-holder-wrap {
            //animation: 0.3s zoomIn;
            transform: scale(1) rotate3d(-1,1,0, 0deg);
            opacity: 1;
        }
        .block-lg,
        .block-sm {
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

.hero-banner-block {
    &.full-width-caption {
        .block-lg {
            opacity: 1;
        }
    }
}

.bg-holder-wrap {
    .bg-holder-inner-wrap {
        height: 100%;
        padding: 0px;
        .block-lg {
            position: absolute;
            top: 40px;
            padding: 0 40px;
            width: 100%;
            @media(max-width: 736px) {
                top: 20px;
                padding: 0 20px
            }
        }
        .block-sm {
            position: absolute;
            bottom: 40px;
            padding: 0 40px;
            width: 100%;
            @media(max-width: 736px) {
                bottom: 20px;
                padding: 0 20px
            }
        }
    }
}