//Normal scrolling animations
.normal-scroll-section{
  .about-type_write, .about-writeup_left, .about-writeup_right{
    transition: all 0.5s ease-out;
    transition-delay: 0.5s;
    opacity: 0;
  }
  .about-writeup_left{
    transition-timing-function: ease-in-out;
    transition-delay: 0.6s;
  }
  .about-writeup_right{
    transition-timing-function: ease-in-out;
    transition-delay: 0.7s;
  }
  .about-type_write{
    transform: translateY(100px);
  }
  .about-writeup_left{
    transform: translateY(100px);  
  }
  .about-writeup_right{
    transform: translateY(100px);  
  }
  &.active{
    .about-type_write, .about-writeup_left, .about-writeup_right{
      transform: translateY(0px); 
      opacity: 1; 
    }
  }
}
/*
.normal-scroll-section{
  .fp-tableCell{
    height: auto !important;
    width: 100% !important;
  }
  .slimScrollDiv{
    height: 100% !important;
    .fp-scrollable{
      height: 100% !important;
    }
  }
}
*/