.overlay-reveal {
    .overlay-item {
        &:after {
            transform: skew(-405.22deg) translateY(0px);
            transition: all 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000);
            background: #f6323e;
            border-color: transparent !important;
        }
        &.reveal-image {
            &.overlay-item {
                &:after {
                    opacity: 0.7;
                }
            }
            &.overlay-panel-1:after {
                transform: skew(-405.22deg) translateY(-2250px);
            }
            &.overlay-panel-2:after {
                transform: skew(-405.22deg) translateY(2250px);
            }
            &.overlay-panel-3:after {
                transform: skew(-405.22deg) translateY(-2250px);
            }
            &.overlay-panel-4:after {
                transform: skew(-405.22deg) translateY(2250px);
            }
            &.overlay-panel-5:after {
                transform: skew(-405.22deg) translateY(-2250px);
            }
            &.overlay-panel-6:after {
                transform: skew(-405.22deg) translateY(2250px);
            }
            &.overlay-panel-7:after {
                transform: skew(-405.22deg) translateY(-2250px);
            }
        }
    }
}

.overlay-default {
    opacity: 0;
    transition: all 0.3s ease-in;
    &.show-default-shapes {
        opacity: 1;
    }
}

#projectDetailFullpage, #projectListFullpage, #serviceDetailFullpage{
  .overlay-item{
    &:after, &:before {
        transition: all 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);
        transition-delay: 0.1s;
        // opacity: 0;
    }
    &.overlay-panel-1:after, &.overlay-panel-1:before {
        transform: skew(-405.22deg) translateY(-2250px) !important;
    }
    &.overlay-panel-2:after, &.overlay-panel-2:before {
        transform: skew(-405.22deg) translateY(2250px) !important;
    }
    &.overlay-panel-3:after, &.overlay-panel-3:before {
        transform: skew(-405.22deg) translateY(-2250px) !important;
    }
    &.overlay-panel-4:after, &.overlay-panel-4:before {
        transform: skew(-405.22deg) translateY(2250px) !important;
    }
    &.overlay-panel-5:after, &.overlay-panel-5:before {
        transform: skew(-405.22deg) translateY(-2250px) !important;
    }
    &.overlay-panel-6:after, &.overlay-panel-6:before {
        transform: skew(-405.22deg) translateY(2250px) !important;
    }
    &.overlay-panel-7:after, &.overlay-panel-7:before {
        transform: skew(-405.22deg) translateY(-2250px) !important;
    }
    &.animateBg {
        &:after, &:before {
            transform: skew(-405.22deg) translateY(0px) !important;
            // opacity: 1;
        }
    }
  }
}