#projectListFullpage{
  section{
    background: #f6323e;
  }
}

.title #projectListCaptionWrap h2{
  display: inline-block;
}

#projectListCaptionWrap{
  transition: all 0.3s ease-in-out;
  opacity: 0;
  .description{
    animation-duration: 0.5s;
  }
}

#projectListRow1, #projectListRow2, #projectListRow3 {
  position: relative;
  z-index: 3;
  .project-item{
    transition: all 0.3s ease-in-out;
    transform: scale(0.8);
    transition-delay: 0.5s;
    opacity: 0;
    &.fadeInUpProjects{
      transform: scale(1);
      opacity: 1;
    }
  }
}