#projectDetailFullpage{
  .project-banner{
    img{
      transition: all 3s ease-in-out;
      opacity: 0;
    }
  }
  section#sectionCount1{
    background: #f6323e;
    .project-banner{
      &.animateImg img{
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
  section#sectionCount2, section#sectionCount3{
    background: #4c4c4c;
  }
  section#sectionCount4{
    background: #f6323e;
  }
}

#projectDetailCaptionWrap{
  opacity: 0;
}