//Reveal Text
.block-revealer__content {
  opacity: 0;
  display: inline;
}
.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}

.reveal-wrap{
  opacity: 0;
}