#serviceDetailFullpage{
  section{
    background: #f6323e;
  }
}

#serviceListCaptionWrap{
  transition: all 0.3s ease-in-out;
  opacity: 0;
  .description{
    animation-duration: 0.5s;
  }
  .serviceLogo{
    animation-duration: 0.5s;
  }
}