// 576px
// 768px,
// 992px,
// 1200px
.overflow-hidden {
    overflow: hidden;
    position: relative;
}
.site-icon-wrap {
    position: absolute;
    bottom: 80px;
    width: 100%;
    @media(max-width: 736px) {
        display: none;
    }
    .site-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon-wrap {
            width: 40px;
            height: auto;
            font-size: 40px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            padding: 0;
            margin: 0;
            transform: scale(1);
            &:hover {
                transform: scale(1.1);
                color: $white;
                margin: auto;
            }
        }
    }
}

.hero-banner-text {
    height: 40px;
    position: relative;
    top: 50vh;
    width: 850px;
    height: auto;
    z-index: 1;
    @media(max-width: 736px) {
        top: 40vh;
    }
}

.content-section {
    padding: 130px 0 0 0;
    background-color: $orange;
    @media(max-width: 736px) {
        padding: 115px 0 0 0;
    }
    .flex {
        display: flex;
        justify-content: space-between
    }
    .count {
        padding-top: 75px;
        @media(max-width: 736px) {
            padding-top: 50px;
        }
        h2 {
            font-size: 100px;
            line-height: 75px;
            @media(min-width: 2000px) {
                font-size: 110px;
            }
            @media(max-width: 736px) {
                font-size: 80px;
                line-height: 50px;
            }
        }
        h4 {
            font-size: 20px;
            padding-top: 15px;
            line-height: 35px;
            @media(min-width: 2000px) {
                font-size: 30;
            }
            @media(max-width: 736px) {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
    .over-height {
        padding-top: 500px;
        display: flex;
        align-items: flex-end;
        @media(min-width: 2000px) {
            padding-top: 50vh;
        }
        @media(max-width: 736px) {
            padding-top: 370px;
        }
        .title {
            h2 {
                text-align: right;
                @media(max-width: 736px) {
                    text-align: left;
                }
            }
        }
        .content {
            @media(max-width: 736px) {
                padding-top: 50px;
            }
        }
    }
    .over-height-medium {
        padding-top: 400px;
        display: flex;
        align-items: center;
        @media(min-width: 2000px) {
            padding-top: 40vh;
        }
        @media(max-width: 736px) {
            padding-top: 200px;
        }
    }
    .row-top-space {
        padding-top: 100px;
        @media(max-width: 736px) {
            padding-top: 60px;
        }
    }
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    @media(max-width: 736px) {
        padding-top: 50px;
    }
}

.desc-data {
    .icon-wrap {
        font-size: 60px;
        line-height: 50px;
        color: $tree-poppy;
    }
}

.square-button {
    width: 130px;
    height: 115px;
    @media(max-width: 736px) {
        width: 120px;
        height: 106px;
    }
    &.space {
        margin: 150px 0 0 0;
        @media(min-width: 2000px) {
            margin: 15vh 0 0 0;
        }
        @media(max-width: 736px) {
            margin: 100px 0 0 0;
        }
    }
}

.service-card {
    .col-md-4 {
        @media(max-width: 736px) {
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .card {
            @media(max-width: 991px) {
                height: 250px;
            }
            @media(max-width: 736px) {
                height: 145px;
            }
            .card-data {
                @media(min-width: 736px) {
                    h4.mobile {
                        display: none;
                    }
                }
                @media(max-width: 736px) {
                    h4 {
                        display: none;
                    }
                    h4.mobile {
                        display: block;
                    }
                }
            }
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

