.hero-banner-block {
    &.full-width-caption {
        position: absolute;
        padding: 0;
        width: 800px;
    }
}

.content-detail {
    height: 100vh;
    .menu-row {
        padding-top: 90px;
        @media(max-width: 1400px) {
            padding-top: 50px;
        }
    }
    .title {
        // &.space {
        //     position: relative;
        //     margin-top: 25vh;
        //     @media(max-width: 1400px){
        //        margin-top: 22vh;
        //     }
        //     @media(min-width: 2000px){
        //         top: 100%;
        //     }
        // }
    }
    .content-wrap {
        padding-top: 80px;
        @media(max-width: 1400px){
            padding-top: 40px;
        }
    }
}



.whole-block {
    max-width: 1100px;
    margin: auto;
    // padding-top: 150px;
    @media(max-width: 1400px){
        max-width: 1000px;
    }
    @media(max-width: 1200px) {
        max-width: 779px;
    }
    .content-wrap {
        .col-md-6 {
            padding-top: 60px;
            @media(max-width: 1400px){
                padding-top: 30px;
            }
        }
        .col-md-6 {
            &:nth-child(1),
            &:nth-child(2) {
                padding-top: 0;
            }
        }
    }
    .desc {
        padding-top: 30px;
    }
    h2{
        & + h2{
            padding-top: 50px;
            @media(max-width: 1400px){
                padding-top: 30px;
            }
        }
    }
}

.content-detail {
    &.bg {
        background-color: $tundora;
    }
}

.inner-page .fp-scroller {
    height: 100%;
}
.slide-section {
    // .row{
    //     &.block-row{
    //         display: block;
    //         padding-top: 100px;
    //         @media(max-width: 1400px){
    //             padding-top: 40px;
    //         }
    //         @media(min-width: 2000px){
    //             padding-top: 240px;
    //         }
    //     }
    // }
    .content-block {
        margin-top: 30%;
        @media(max-width: 1400px){
            margin-top: 15%;
        }
        @media(max-width: 1200px){
            margin-top: 50%;
        }
        @media(max-width: 1200px) and (orientation: landscape){
            margin-top: 30%;
        }
        @media(max-width: 768px){
            margin-top: 30%;
        }
        @media(max-width: 768px){
            margin-top: 35%;
        }
        // @media(max-width: 1400px){
        //     padding: 0;
        // }
        // @media(min-width: 2000px){
        //     padding: 320px 0 0;
        // }
    }
}
.brief-note-project{
    .whole-block{
        margin-top: 15%;
        @media(max-width: 768px){
            margin-top: 30%;
        }
    }
}

.slide-view {
    max-width: 1160px;
    margin: auto;
    position: relative;
    margin-top: 15%;
    @media(max-width: 1200px) {
        margin-top: 30%;
    }
    @media(max-width: 768px) {
        margin-top: 50%;
    }
}
.project-list-caption{
    .title{
        &.space{
            &.white{
                margin-top: 30%;
                 @media(max-width: 1400px){
                    margin-top: 17%;
                }
                @media(max-width: 1200px){
                    margin-top: 50%;
                }
                @media(max-width: 1200px) and (orientation: landscape){
                    margin-top: 30%;
                }
            }
        }
    }
}
.container{
    &.project-details-banner{
        max-width: 1150px;
    }
}
.burjkhalifa-mobile-banner{
    @media(max-width: 736px){
        background-position: 10%;
    }
}
.content-scroller{
    .title{
        h2{
            font-family: "montserrat";
        }
    }
    @media(max-width: 736px){
        height: 325px;
        overflow-x: scroll;
        .title{
            &.white{
                h2{
                    color: $red-orange;
                }
                h4{
                    color: $tundora;
                }
            }
        }
        .desc{
            &.white{
                p{
                    color: $tundora;
                }
            }
        }
    }
}
