.heading-lg-thin-desc{
    margin-top: 30%;
    position: relative;
    z-index: 2;
    @media(max-width: 1200px){
        margin-top: 50%;
    }
    @media(max-width: 736px){
        margin-top: 30%;
        height: 500px;
        overflow: scroll;
    }
    @media(max-width: 1200px) and (orientation: landscape){
        margin-top: 30%;
    }
    .card{
        height: auto;
    }
    .content{
        max-width: 620px;
    }
    h2{
        & + h2{
            padding-top: 0;
        }
    }
    .icon-lg{
        padding-top: 20px;
    }

}
.caption-image-slide-view{
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
    @media(max-width: 736px){
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-slide-view{
        padding-top: 20px;
    }
    &.align-center{
        margin-top: 30%;
        @media(max-width: 736px){
            margin-top: 15%;
            margin-bottom: 15px;
        }
    }
}
.bold-text{
    font-weight: 400;
    @media(max-width: 736px){
        font-size: 20px;
    }
}
.text-logo-wrap{
    display: flex;
    justify-content: space-between;
    @media(max-width: 736px){
        flex-flow: column;
    }
}
// .mobile-only{
//     display: none !important;
//     @media(max-width: 736px){
//         display: block;
//     }
// }
