// Color Variables
$primary 				: 	#988a5b;
$default				:	#00a0dc;
$white					: 	#ffffff;
$black					: 	#000000;
$antique-brass          :   #C99B6A;
$my-sin                 :   #ffb81c;
$rouge                  :   #9A3467;
$tundora                :   #4A4A4A;
$red-orange             :   #f6323e;
$blaze-orange           :   #FF6A00;
$tree-poppy             :   #ff9e15;
$west-side              :   #ff9e14;
$pumpkin                :   #ff7616;
$pumpkin-1              :   #ff811d;
$orange                 :   #fd6312;
$orange-1               :   #fb5b13;
$orange-2               :   #fc5715;
$pomegranate            :   #fa5123;
$Pomegranate-1          :   #f8402f;
$Pomegranate-2          :   #f33f2e;
$Pomegranate-3          :   #f64a23;
$Pomegranate-4          :   #f24625;
$Pomegranate-5          :   #e94424;
$tundora-1              :   #454545;
$tundora-2              :   #4c4c4c;
$tundora-3              :   #505050;
$mule-fawn              :   #8c562f;
$kabul                  :   #654f3f;
$antique-brass          :   #c99b6a;
$cinnabar               :   #e93c2c;
$ecstasy                :   #fc6f0f;
$valencia               :   #d23328;
$punch                  :   #d9352a;
$flamenco               :   #ff7605;
$alabaster              :   #f7f7f7;
$alabaster-1            :   #fafafa;
$gallery                :   #ededed;
$derby                  :   #ffefd8;
$texas-rose             :   #ffb955;
