// Common Styles
a, .btn, a:focus, .btn:focus{outline: 0;}
html,
body {font-size: 100%;font-family: 'Montserrat', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
p {font-family: montserratlight}
a, button{ @include transition(all, .2s, ease-in-out);}
a, a:hover, a:focus{color: $white;}
b,label,span,ul {font-family: 'Montserrat', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-weight: 300;font-family: $Poppins;margin: 0 0 0 0;padding: 0 0 0 0;}
h2{@include rem('font-size', 44px);}
// h3{@include rem('font-size', 35px);}
figure{margin: 0;}
textarea{resize: vertical}

.rippler{overflow: hidden;}
.wrapper {float: left; width: 100%;}

.white {
    color: $white;
}
.tundora{
    color: $tundora;
}
.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.icon-wrap{
    line-height: 0;
}
.icon-lg{
    .icon-wrap {
        font-size: 120px;
        // @media(max-width: 768px){
        //     font-size: 80px;
        // }
        @media(max-width: 768px){
            font-size: 60px;
        }
    }
}
@media (min-width: 1400px){
    .container {
        max-width: 1250px;
    }
}
@media(max-width: 736px){
    .col-md-12{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-11{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-10{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-9{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-8{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-7{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-6{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-5{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-4{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-3{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-2{
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-md-1{
        padding-left: 30px;
        padding-right: 30px;
    }
}
