@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?tbmup6');
  src:  url('../../assets/fonts/icomoon.eot?tbmup6#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.woff2?tbmup6') format('woff2'),
    url('../../assets/fonts/icomoon.ttf?tbmup6') format('truetype'),
    url('../../assets/fonts/icomoon.woff?tbmup6') format('woff'),
    url('../../assets/fonts/icomoon.svg?tbmup6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-drupal:before {
  content: "\e902";
}
.icon-html:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e904";
}
.icon-mobile:before {
  content: "\e905";
}
.icon-site:before {
  content: "\e906";
}
.icon-umbraco:before {
  content: "\e908";
}
.icon-wordpress:before {
  content: "\e909";
}

