.desc{
    p{
        font-size: 16px;
        @media(min-width: 2000px) {
            font-size: 18px;
        }
        @media(max-width: 1400px){
            font-size: 14px;
        }
    }
}
.content{
    p{
        font-size: 20px;
        @media(min-width: 2000px) {
            font-size: 22px;
        }
        @media(max-width: 1400px) {
            font-size: 18px;
        }
        @media(max-width: 736px) {
            font-size: 14px;
        }
    }
}


