.title{
    h1,h2,h3,h4,h5,h6{

    }
    h1,h2,h3{
        font-family: $montserratmedium;
    }
    h3,h4,h5,h6{
        font-family: 'Montserrat',sans-serif;
    }
        h2.thin{
            font-family: $montserratlight;
        }
    h2{
        font-size: 40px;
        font-weight: 400;
        @media(min-width: 2000px) {
            font-size: 50px;
        }
        @media(max-width: 1400px){
            font-size: 34px;
        }
        @media(max-width: 991px) {
            font-size: 28px;
        }
        @media(max-width: 736px) {
            font-size: 24px;
        }
        span.large{
            font-size: 110px;
            letter-spacing: 2px;
            @media(min-width: 2000px) {
                font-size: 120px;
            }
             @media(max-width: 1400px) {
                font-size: 90px;
                letter-spacing: 1px;
             }
             @media(max-width: 991px) {
                 font-size: 70px;
             }
             @media(max-width: 736px){
                 font-size: 40px;
             }
        }
        span.font-80{
            @media(min-width: 2000px) {
                font-size: 90px;
            }
            font-size: 80px;
            letter-spacing: 2px;
            @media(max-width: 1400px) {
                font-size: 65px;
            }
            @media(max-width: 1200px) {
                font-size: 60px;
            }
            @media(max-width: 991px){
                font-size: 50px;
            }
            @media(max-width: 736px) {
                font-size: 36px;
            }
        }
    }
    h3{
        font-size: 30px;
        @media(max-width: 736px){
            font-size: 16px;
        }
    }
    h4{
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        @media(min-width: 2000px) {
            font-size: 25px;
        }
        @media(max-width: 1400px){
            font-size: 18px;
            line-height: 24px;
        }
        @media(max-width: 736px) {
            font-size: 15px;
            line-height: 20px;
        }
    }
    h6{
        font-size: 16px;
        line-height: 30px;
        @media(min-width: 2000px) {
            font-size: 20px;
        }
        @media(max-width: 736px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .split{
        display: block;
    }
}
